---
layout: default
suburl: ../..
---
{% include navbar.html %}
{% include modal.html %}
<div id="fullpage" class="custom-hide">
	<section class="section">
			<div class="container">
				<div class="row">
					<div class="col">
						<p class="text-center resp-text">Уже почти готово...</p>
						<p class="text-center">Отправили вам письмо для подтверждения подписки. Если письмо не пришло, проверьте вкладки «спам» и «промо» почтовой программы. <a href="{{'../../' | prepend: site.baseurl}}" class="text-white"><u>Перейти на главную</a></u></p>
					</div>
				</div>
			</div>
	</section>
</div>