---
layout: default
---
{% include navbar.html %}
{% include bottombar.html %}
{% include modal.html %}
<div id="fullpage">
    <section class="section" id="section0">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 offset-xl-6 col-lg-6 offset-lg-6">
                    <p class="h4 text-xl-right text-lg-right">Меня зовут</p>
                    <p class="h4 text-xl-right text-lg-right">Клепиков Константин</p>
                    <p class="h4 text-xl-right text-lg-right">и я делаю</p>
                    <p class="text-xl-right text-lg-right resp-text header-text">Email-маркетинг для интернет-магазинов</p>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="slide active" data-anchor="slide1">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 code code-text">
                        <p class="resp-text">Email маркетинг</p>
                        <p class="h5 d-none d-md-block d-lg-block d-xl-block">Выстраиваю схемы сбора лидов. Проектирую рассылки. Верстаю письма. Интегрирую. Запускаю.</p>
                    </div>
                    <div class="col-md-7 text-center code code-block">
                        <ul class="nav navbar-dark bg-light">
                            <li class="nav-item">
                                <div class="code-navbar">
                                    <span class="code-navbar-actions code-navbar-1"></span>
                                </div>
                            </li>
                            <li class="nav-item">
                                <div class="code-navbar">
                                    <span class="code-navbar-actions code-navbar-2"></span>
                                </div>
                            </li>
                            <li class="nav-item">
                                <div class="code-navbar">
                                    <span class="code-navbar-actions code-navbar-3"></span>
                                </div>
                            </li>
                            <li class="nav-item">
                                <span class="navbar-text code-navbar-tab text-muted">
                                    HTML
                                </span>
                            </li>
                        </ul>
                        <pre><code class="text-left code-inside-text">
&lt;!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"&gt;
&lt;html xmlns="http://www.w3.org/1999/xhtml" lang="en" 
xml:lang="en" style="background:clean!important"&gt;
&lt;head&gt;
&lt;meta http-equiv="Content-Type" 
content="text/html; charset=utf-8"&gt;
&lt;meta name="viewport" content="width=device-width"&gt;
&lt;title&gt;Hello, World!&lt;/title&gt;
                        </code></pre>
                     </div>
                </div>
            </div>
        </div>
        <div class="slide" data-anchor="slide2">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 resp-block">
                        <p class="resp-text">UX/UI</p>
                        <p class="h5">Анализирую юзабилити, улучшаю интерфейсы и оптимизирую сбор лидов</p>
                    </div>
                    <div class="col-md-7 resp-block">
                        <img src="{{'/assets/img/uxui.png' | prepend: site.baseurl}}" class="rounded img-fluid mx-auto d-block" alt=" UX/UI ">
                        </div>
                </div>
            </div>
        </div>
        <div class="slide" data-anchor="slide3">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 resp-block">
                        <p class="resp-text">ML @ AI</p>
                        <p class="h5">Разрабатываю решения на основе технологий машинного обучения</p>
                    </div>
                    <div class="col-md-7 resp-block">
                        <img src="{{'/assets/img/ai.gif' | prepend: site.baseurl}}" class="rounded img-fluid mx-auto d-block" alt=" Mashine Learning ">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <a href="">example</a>
    </section>
</div>