<nav class="navbar fixed-bottom navbar-expand-lg" id="bottomNav">
    <span class="navbar-text mx-2 d-block d-lg-none d-xl-none">
        Подпишитесь на рассылку
    </span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerBottom" aria-controls="navbarTogglerBottom" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon" id="bottomToogler"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerBottom">
        <form  class="form-inline p-2">
            <input class="form-control m-1" type="email" placeholder="Email" aria-label="Email">
            <button class="btn btn-outline-light m-1" id="btnMd" type="submit">ПОДПИСАТЬСЯ</button>
            <span class="navbar-text m-1">
                Новые статьи про маркетинг, разработку, юзабилити и data science раз в неделю
            </span>
        </form>
    </div>
</nav>