<div class="modal fade" id="yorbModal" tabindex="-1" role="dialog" aria-labelledby="yorbModallLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <img src="{{'/assets/img/vjuh.jpg' | prepend: site.baseurl}}" width="50%" alt=" Вжух и все готово! ">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body bpad">
                <p class="text-dark h4">Опишите задачу и я отвечу в течение одного рабочего дня</p>
                <form id="contact-form" action="https://yorb.ru/assets/data/contact.php" method="POST" class="needs-validation" novalidate>
                    <div class="form-group">
                        <input name="email" type="email" class="form-control" id="yorbInput" placeholder="email" required>
                        <textarea name="message" type="text" class="form-control" id="yorbTextarea" rows="5" minlength="" maxlength="999" placeholder="краткое описание задачи" required></textarea>
                    </div>
                    <div id="success"></div>
                    <button type="submit" id="yorbButton" class="btn btn-outline-danger float-right">ОТПРАВИТЬ</button>
                </form>
                <script>
                    (function() {
                        'use strict';
                        window.addEventListener('load', function() {
                        // Fetch all the forms we want to apply custom Bootstrap validation styles to
                        var forms = document.getElementsByClassName('needs-validation');
                        // Loop over them and prevent submission
                        var validation = Array.prototype.filter.call(forms, function(form) {
                            form.addEventListener('submit', function(event) {
                            if (form.checkValidity() === false) {
                                event.preventDefault();
                                event.stopPropagation();
                            }
                            form.classList.add('was-validated');
                            }, false);
                        });
                        }, false);
                    })();
                </script>
            </div>
        </div>
    </div>
</div>