<nav class="navbar fixed-top navbar-expand flex-column flex-md-row bd-navbar m-2">
    <a class="navbar-brand text-white d-none d-lg-block d-xl-block" href="{{site.url}}">
    <img src="{{page.suburl}}{{'/assets/img/yorb-logo-small.png' | prepend: site.baseurl}}" width="30" height="30" class="d-inline-block align-top" alt=" ">
    РЕШЕНИЯ ДЛЯ ИНТЕРНЕТ-МАГАЗИНОВ</a>
    <ul class="navbar-nav ml-md-auto">
        <li class="nav-item">
            <a class="nav-link text-white nav-rm-custom" href="https://blog.yorb.ru">БЛОГ</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="https://www.facebook.com/konstatin.klepikov" rel="noopener"><img src="{{page.suburl}}{{'/assets/img/facebook.svg' | prepend: site.baseurl}}" class="d-inline-block nav-rm-custom align-top nav-ico-custom" alr=" f "></a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="https://t.me/KlepikovKonstantin" rel="noopener"><img src="{{page.suburl}}{{'/assets/img/telegram.svg' | prepend: site.baseurl}}" class="d-inline-block nav-rm-custom align-top nav-ico-custom" alr=" t "></a>
        </li>
        <li class="nav-item">
            <a class="btn btn-outline-light" href="#" role="button" data-toggle="modal" data-target="#yorbModal">СВЯЗАТЬСЯ</a>
        </li>
    </ul>
</nav>